* {
    box-sizing: border-box;
    color: #333;
}

main > div {
    display: flex;
    margin: 1rem 0;
}

main > div > label {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: .5rem;
}

main > div > label.checked {
    background-color: #eee;
    cursor: default;
}

main > div > label:first-child {
    border-radius: .5rem 0 0 .5rem;
}

main > div > label:last-child {
    border-radius: 0 .5rem .5rem 0;
}

[type="radio"] {
    display: none;
}

[type="radio"]:not(:checked) + table {
    display: none;
}

table {
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

th,
td {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 .5rem;
    text-align: center;
    word-break: keep-all;
}

th[rowspan="2"] {
    left: 0;
    position: sticky;
    z-index: 1;
}

td {
    width: 4.5rem;
}

tr[data-des="arr"] > th,
tr[data-des="arr"] > td {
    border-bottom-style: none;
}

tr[data-des="dep"] > th,
tr[data-des="dep"] > td {
    border-top-style: dashed;
}